* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: rgb(97, 97, 97);
  padding-top: 2rem;
}
header h1 {
  text-align: left;
  color: white;
  margin-bottom: 10px;
  padding: 0px 0px 10px 10px;
}

header nav ul {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
footer {
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: rgb(97, 97, 97);
  text-align: center;
  padding: 2rem 0px;
}

main {
  grid-column: 1 / 2;
  grid-row: 2;
  background-color: rgb(200, 200, 200);
  padding: 4rem;
}

aside {
  grid-column: 2 / 3;
  grid-row: 2;
  padding: 4rem;
}
