body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 20px;
}

nav a:hover {
  background-color: #555;
  border-radius: 3px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

#temple-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}

.temple-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 10px;
}

.temple-card:hover {
  transform: translateY(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.temple-card h3 {
  margin: 0 0 10px 0;
  color: #333;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.3em;
}

.temple-card p {
  margin: 8px 0;
  font-size: 0.9rem;
}

.temple-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  margin-top: 40px;
  padding: 20px;
  font-size: 0.9em;
}

footer p {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  #temple-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #temple-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    padding: 0 10px;
  }
}
